{# orders.html.twig

	This file provides the template for displaying the order information for a specific 
	customer.  It receives the information from index.php and creates a table for the
	customers pending orders (undelivered) and a table for the customers delivered orders.
	If either of these lists is empty, a message is displayed instead.
#}

{% include 'header.twig' %}
<style>
	table, tr, th, td { border: 1px solid black !important; }
	td, th {padding: .4em;}
		.id { text-align: center; }
		.name { text-align: center; }
		.price { text-align: right; }
</style>

<h1>Orders</h1>

{% if pending %}
<h3>Your Pending Orders:</h3>
	<table>
		<tr>
		<th class="tnum">Toy</th>
		<th class="name">Date Ordered</th>
		</tr>
	{% for item in pending %}
		<tr>
		<td class="name"><a href="/toystore/item/{{ item.tnum }}">{{item.name}}</a></td>
		<td class="ordered">{{ item.date_ordered }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<h3>No Pending Orders</h3>
{% endif %}
<br><br>
{% if delivered %}
<h3>Your Delivered Orders:</h3>
	<table>
		<tr>
		<th class="tnum">Toy</th>
		<th class="name">Date Delivered</th>
		</tr>
	{% for item in delivered %}
		<tr>
		<td class="name"><a href="/toystore/item/{{ item.tnum }}">{{item.name}}</a></td>
		<td class="ordered">{{ item.date_deliv }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<h3>No Delivered Orders</h3>
{% endif %}

{% include 'footer.twig' %}