{# search.html.twig

	This file provies the template to allow a user to search for the name of a toy.
	It uses the form templage and then displays results of the search on the same page.
	The results are displayed as a table with the toys name and price.  The toy name
	has an embedded link to the page for the specific toy.
#}

{% include 'header.twig' %}
<style>
	table, tr, th, td { border: 1px solid black !important; }
	td, th {padding: .4em;}
		.id { text-align: center; }
		.name { text-align: center; }
		.price { text-align: right; }
</style>

<h1>Search</h1>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

{% if results %}
	<table>
		<tr>
		<th class="toynum">Toy</th>
		<th class="name">Name</th>
		<th class="price">Price</th>
		</tr>
	{% for item in results %}
		<tr>
		<td class="toynum"><a href="/toystore/item/{{ item.toynum }}">Details</a></td>
		<td class="name">{{ item.name }}</td>
		<td class="price">{{ item.price }}</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% include 'footer.twig' %}
